.App {
    --header_height: 60px;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* margin: 0 auto; */
}


.hw {
    height: 375px;
    width: 1280px;
    /* width: 100%; */
    /* background-color: blanchedalmond; */
    padding: 24px 70px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.box{
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 50px;
}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
}